.cards {
  padding: 15px 0 36px;
}
.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__content {
  display: flex;
  background-color: #fff;
  padding: 25px 15px 30px 20px;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.card__title {
  max-width: 220px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
}

.card__like-button {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  margin: 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 480px) {
  .cards {
    margin-top: 36px;
  }
}
