.footer {
  max-width: 318px;
  margin: 0;
}

.footer__copyright {
  margin: 31px 0 60px;
  color: #545454;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
    margin: auto;
  }

  .footer__copyright {
    padding-left: 19px;
  }
}
